
// color: #422F81; 
// filter: invert(21%) sepia(23%) saturate(3494%) hue-rotate(229deg) brightness(89%) contrast(98%);

// color: #01626D;
// filter: invert(16%) sepia(93%) saturate(2332%) hue-rotate(169deg) brightness(101%) contrast(99%);

// color: #B3A155;
// filter: invert(72%) sepia(11%) saturate(1700%) hue-rotate(11deg) brightness(89%) contrast(78%);

// color: #3B4D64;
// filter: invert(26%) sepia(22%) saturate(782%) hue-rotate(174deg) brightness(97%) contrast(87%);

// color: #01626D;
// filter: invert(28%) sepia(31%) saturate(2686%) hue-rotate(152deg) brightness(89%) contrast(99%);

// color: #015414;
// filter: invert(21%) sepia(15%) saturate(5971%) hue-rotate(105deg) brightness(96%) contrast(99%);

// color: #036750;
// filter: invert(26%) sepia(97%) saturate(643%) hue-rotate(125deg) brightness(91%) contrast(98%);

// .bg-main {
//   position: absolute;
//   z-index: -1;
//   overflow: hidden;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   // .bg-main__image
//   &__image {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     object-fit: contain;
//     @media (max-width:em(1100.98)){
//        width: 150%;
//        left: -30%; 
//     }
//     @media (max-width:$mobile){
//       width: 200%;
//       left: -60%; 
//     }
//     @media (max-width:$mobileSmall){
//       width: 300%;
//       left: -78%; 
//     }
//     &.bg-image-pc {
//     }
//     .hero & {
//       filter: invert(21%) sepia(23%) saturate(3494%) hue-rotate(229deg) brightness(89%) contrast(98%);
//     }
//     .first & {
//       filter: invert(21%) sepia(23%) saturate(3494%) hue-rotate(229deg) brightness(89%) contrast(98%);
//     }
//     .second & {
//       filter: invert(16%) sepia(93%) saturate(2332%) hue-rotate(169deg) brightness(101%) contrast(99%);
//     }
//     .third & {
//       filter: invert(72%) sepia(11%) saturate(1700%) hue-rotate(11deg) brightness(89%) contrast(78%);
//     }
//     .fourth & {
//       filter: invert(21%) sepia(23%) saturate(3494%) hue-rotate(229deg) brightness(89%) contrast(98%);
//     }
//   }

// }
.section {
  background: transparent;  
  @media (min-width:$mobile){
    &::-webkit-scrollbar {
      width: 8px; 
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(80, 80, 80, 0.7);
      border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(80, 80, 80, 1);
    }
  }
 
}

// Для Firefox
* {
  @media (min-width:$mobile){
    scrollbar-width: thin;
    scrollbar-color: #888 #ddd;
  }
}
  


.bg-main {
  position: fixed;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity .8s ease;
  .loaded & {
    opacity: 1;
    transition-delay: 0.1s;
  }
 
	// .bg-main__bg
	&__bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
    transition: opacity 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
    &.bg-0 {
      background: $blue-1;
      z-index: 5;
      // .fp-section-1 &,
      // .fp-section-2 &,
      // .fp-section-3 &,
      // .fp-section-4 & {
      //   // transform: translateY(-100%);
      // }
      opacity: 0;
      .fp-section-0 & {
        opacity: 1;
      }
      .bg-main__image {
        filter: invert(21%) sepia(23%) saturate(3494%) hue-rotate(229deg) brightness(89%) contrast(98%);
      }
    }
    &.bg-1 {
      background: $blue-2;
      z-index: 4;
      // .fp-section-0 & {
      //   // transform: translateY(100%);
      // }
      // .fp-section-2 &,
      // .fp-section-3 &,
      // .fp-section-4 & {
      //   // transform: translateY(-100%);
      // }

      opacity: 0;
      .fp-section-1 & {
        opacity: 1;
      }
      .bg-main__image {
        filter: invert(21%) sepia(23%) saturate(3494%) hue-rotate(229deg) brightness(89%) contrast(98%);
      }
    }
    &.bg-2 {
      background: $green-1;
      z-index: 3;
      // .fp-section-0 &,
      // .fp-section-1 & {
      //   // transform: translateY(100%);
      // }
      // .fp-section-3 &,
      // .fp-section-4 & {
      //   // transform: translateY(-100%);
      // }
      opacity: 0;
      .fp-section-2 & {
        opacity: 1;
      }
      .bg-main__image {
        filter: invert(16%) sepia(93%) saturate(2332%) hue-rotate(169deg) brightness(101%) contrast(99%);
      }
    }
    &.bg-3 {
      background: $red-1;
      z-index: 2;
      // .fp-section-0 &,
      // .fp-section-1 &,
      // .fp-section-2 & {
      //   // transform: translateY(100%);
      // }
      // .fp-section-4 & {
      //   // transform: translateY(-100%);
      // }
      opacity: 0;
      .fp-section-3 & {
        opacity: 1;
      }
      .bg-main__image {
        filter: invert(72%) sepia(11%) saturate(1700%) hue-rotate(11deg) brightness(89%) contrast(78%);
      }
    }
    &.bg-4 {
      background: $purple;
      z-index: 1;
      // .fp-section-0 &,
      // .fp-section-1 &,
      // .fp-section-2 &,
      // .fp-section-3 & {
      //   // transform: translateY(100%);
      // }
      opacity: 0;
      .fp-section-4 & {
        opacity: 1;
      }
      .bg-main__image {
        filter: invert(21%) sepia(23%) saturate(3494%) hue-rotate(229deg) brightness(89%) contrast(98%);
      }
    }
	}
  // .bg-main__image
  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    // z-index: 10;
    object-fit: contain;
    // transition: all 0s ease .15s;
    @media (max-width:em(1100.98)){
       width: 150%;
       left: -30%; 
    }
    @media (max-width:$mobile){
      width: 200%;
      left: -60%; 
    }
    @media (max-width:$mobileSmall){
      width: 300%;
      left: -78%; 
    }
    // .fp-section-0 & {
    //   filter: invert(21%) sepia(23%) saturate(3494%) hue-rotate(229deg) brightness(89%) contrast(98%);
    // }
    // .fp-section-1 & {
    //   filter: invert(21%) sepia(23%) saturate(3494%) hue-rotate(229deg) brightness(89%) contrast(98%);
    // }
    // .fp-section-2 & {
    //   filter: invert(16%) sepia(93%) saturate(2332%) hue-rotate(169deg) brightness(101%) contrast(99%);
    // }
    // .fp-section-3 & {
    //   filter: invert(72%) sepia(11%) saturate(1700%) hue-rotate(11deg) brightness(89%) contrast(78%);
    // }
    // .fp-section-4 & {
    //   filter: invert(21%) sepia(23%) saturate(3494%) hue-rotate(229deg) brightness(89%) contrast(98%);
    // }
  }

}

.menu-hero {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  transition: all .3s ease;
  .fp-section-0 & {
    opacity: 1;
    transition-delay: .3s;
  }
  @media (max-width: em(1300.98)){
      display: none;
  }
  // .menu-hero__nav
  &__nav {
      @include adaptiveValue("height", 103, 75,0,1920,1440);
      @include adaptiveValue("padding-right", 44, 22,0,1920,1440);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0 toRem(27);
      
      opacity: 0;
      transition: opacity .3s ease;
      .loaded & {
        opacity: 1;
        transition-delay: 3s;
      }
		}
		// .menu-hero__list
		&__list {
      @include adaptiveValue("column-gap", 18, 8,0,1920,1440);
      display: flex;
      align-items: center;
		}
		// .menu-hero__item
		&__item {
      .fp-section-0 & {
        pointer-events: all;
      }
		}
		// .menu-hero__link
		&__link {
      padding: toRem(7) toRem(30);
      @include adaptiveValue("font-size", 25, 18,0,1920,1440);
      font-weight: 500;
      line-height: 1.3;
      position: relative;
      text-transform: uppercase;
      text-wrap: nowrap;

      border-radius: toRem(100);
  		border: toRem(2) solid transparent;

      background-image: linear-gradient(49deg, #F9F4BF 20%, #BA9B57 100%, #F9C46E 56%, #F0B963 44%, #F9F3BB 18%, #C1A059 45%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 100px;
        padding: 2px;
        background: linear-gradient(49deg, #F9F4BF 20%, #BA9B57 100%, #F9C46E 56%, #F0B963 44%, #F9F3BB 18%, #C1A059 45%);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        opacity: 0;
        transition: opacity .3s ease;
      }
      @media (any-hover: hover){
        &:hover{
          &::before {
            opacity: 1;
          }
        }
      }

      @media (max-width: em(1440.98)){
        padding: toRem(7) toRem(25);
      }
		}
}


.stars {
  // .stars__img
  &__img {
    img {
      height: auto;
    } 
  }
}

.star-width-1 {
  img {
    width: toRem(8.5);
  }
}
.star-width-2 {
  img {
    width: toRem(14.2);
  }
}
.star-width-3 {
  img {
    width: toRem(13.77);
  }
}
.star-width-4 {
  img {
    width: toRem(19.6);
  }
}
.star-width-5 {
  img {
    width: toRem(24.85);
  }
}
.star-width-6 {
}
.star-width-7 {
}
.star-width-8 {
}
.star-width-9 {
}


.circle-link {
  // .circle-link__link
  &__link {
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    
    &.link-big {
      @include adaptiveValue("width", 242, 180,0,1920,1440);
      @include adaptiveValue("width", 180, 141,3,1440,480);
      @include adaptiveValue("height", 242, 180,0,1920,1440);
      @include adaptiveValue("height", 180, 141,3,1440,480);
      
      @include adaptiveValue("padding-top", 38, 28,0,1920,1440);
      @include adaptiveValue("padding-top", 28, 20,3,1440,480);
      @include adaptiveValue("padding-right", 38, 28,0,1920,1440);
      @include adaptiveValue("padding-right", 28, 20,3,1440,480);
      @include adaptiveValue("padding-bottom", 38, 28,0,1920,1440);
      @include adaptiveValue("padding-bottom", 28, 20,3,1440,480);
      @include adaptiveValue("padding-left", 38, 28,0,1920,1440);
      @include adaptiveValue("padding-left", 28, 20,3,1440,480);
    }
  }
  // .circle-link__circle-body
  &__circle-body {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 37% 16% 0% 29%;
    pointer-events: none;
    
    background-image: linear-gradient(90deg, #F9D4BF -29.91%, #BA9B57 0.48%, #F9C46E -1.7%, #F0B963 8.24%, #F9F3BC 66.06%, #C1A059 102.45%);
    filter: drop-shadow(-4.8px 5.7px 18.2px rgba(0, 0, 0, 0.27));
  }
  // .circle-link__img
  &__img {
    transform: rotate(-21deg);
    width: 100%;
    height: auto;
  }
  // .circle-link__img-circle
  &__img-circle {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    animation: circle-link 10s linear 0.2s infinite normal;
  }
}
@keyframes circle-link {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
